<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="rMap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <rMap.Properties.Settings>
      <setting name="Location" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="Size" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="RYLFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="CryptoKey" serializeAs="String">
        <value>0,Y2pzZw==</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="UseCrypto" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TextureSize" serializeAs="String">
        <value>256</value>
      </setting>
      <setting name="ObjectsViewerLoadingRange" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="DeviceProfileReach" serializeAs="String">
        <value>False</value>
      </setting>
    </rMap.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>
